 <div class="mb-3">
  <%= f.label :title, "Title", class: "form-label fs-5" %>
  <%= f.text_field :title, placeholder: "Please enter your title", class: "form-control"%>
  <div id="emailHelp" class="form-text">We will share your article in our blog.</div>
</div>
<div class="mb-3">
  <%= f.label :content, "Content", class: "form-label fs-5" %>
  <%= f.text_area :content, placeholder: "Please enter your articles", class: "form-control"%>
</div>