<div class="content">
  <div class="row">
    <div class="content-main">
      <div class="st-content-main">
        <h3 style="margin-bottom: 20px;">SHARE YOUR ARTICLES</h3>

        <%= form_for :article, url: articles_path  do |f| %>
        <%= render 'form', f: f %>
        <%= f.submit class: "btn btn-primary", value: "Add Content"%>
      <% end %>
      </div>
    </div>
  </div>
  
</div>
<%= stylesheet_link_tag 'articles_new' %>