<div class="st-container">
  <div>
    <h1>haha</h1>
  </div>
  <div class="container">
    <div class="container-hd"></div>
    <div class="container-left">
      <div class="child-box-in">
        <%= text_area_tag :content, "",placeholder: "Please enter your content.", class: "form-control", rows: 8 %>
      </div>
    </div>
    <div class="container-right">
      <div class="child-box-in">
        <%= text_area_tag :translate_content, "", class: "form-control", rows: 8 %>
      </div>
    </div>
  </div>
</div>


<%= stylesheet_link_tag 'translates_index' %>