.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .row {
    flex: 1;
  }
  
  .box {
    padding: 10px;
    margin: 5px;
    color: black;
  }
  
  .article-container  {
    height: 445px;
    display: flex;
  }

  .container-main-left {
    flex: 1.5;
  }

  .container-main-right {
    flex: 1;
  }

  .cm-style{
    padding: 3%;
    border: 3px solid #1e9c10;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-left: 2%;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  
  .inverted-main-grid {
    // height: 500px;
    padding: 0;
  }

  .inverted-main-grid .show-main-acticles {
    height: 150px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    // padding-left: 15px;
    // padding-right: 15px;

    border-radius: 10px;
  }

  .inverted-main-grid .show-main-acticles .show-acticles-in {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }

  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 1 / 3 / 2 / 4; }
  .div4 { grid-area: 1 / 4 / 2 / 5; }
  .div5 { grid-area: 1 / 5 / 2 / 6; }

    
  .divider {
    height: 92px;
  }

  .separator {
    position: relative;
    height: 1px;
    margin: 20px 0;
    background-color: #ddd;
  }
  
  .separator::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
  }
  
  .separator::after {
    content: "";
    position: absolute;
    top: -5px;
    left: calc(50% + 5px);
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
  }
  
  .main-grid {
    height: 0px;
  }


  