.st-container {
  display: flex;
  flex-direction: column;
}

.container {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "container-left container-right";
}

.container-left { grid-area: container-left; }

.container-right { grid-area: container-right; }



.child-box-in {
  padding: 3%;
  border: 3px solid #1e9c10;
  border-radius: 10px;
  margin-bottom: 2%;
  margin-left: 2%;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}